.property-page {
    background-color: #f6f6f6;
    padding: 20px 0;
    background-color: rgba(161, 201, 220, 0.1);


	.panel {
	    padding: 15px;
	    background-color: #fff;
	    // box-shadow: 0 0 3px 0px rgba(0,0,0,0.2);
	    color: #000;

		.project-name {
		    color: #2a3461;
		    text-transform: uppercase;

			@media(max-width: 991px) { 
    			font-size: 20px;
			}

		}

		.address {
		    color: #000;
		    font-size: 18px;
		    margin-bottom: 0;

			@media(max-width: 991px) { 
    			font-size: 16px;
			}

		    i {
			    margin-right: 5px;
			}
		}

		.area {
		    padding-left: 0;
		    margin-bottom: 0;

		    li {
			    display: inline-block;
			    list-style: none;
			    border-right: 1px solid #a64942;
			    padding-right: 14px;
			    padding-top: 5px;

			    &:last-child {
				    border-right: 0;
				    padding-left: 12px;
				}

				p {
				    margin-bottom: 0;
				    line-height: 0;
				    font-size: 16px;
				    font-weight: bold;
				    color: #ae3120;
				    display: inline-block;
				}

			}
		}

		.price {
		    font-size: 1.7rem;
		    color: #2a3461;
		    font-family: "Montserrat", sans-serif;
		    font-weight: bold;
		    text-align: right;

			@media(max-width: 991px) { 
			    margin-bottom: 26px;
			    font-size: 1.5rem;
			}
			@media(max-width: 767px) { 
		    	text-align: left;
		    	margin: 10px 0;
			}
		}

		.features {
		    background-color: #293462;
		    margin-bottom: 0;
		    padding-left: 0;
		    color: #fff;
		    text-align: center;
		    width: 100%;
		    float: left;
		    display: block;

		    li {
			    display: inline;
			    width: calc(100%/3);
			    list-style: none;
			    text-align: center;
			    float: left;
			    border-left: 1px solid #ccc;

			    p {
				    display: inline-block;
				    padding: 10px;
				    width: 100%;
				    font-size: 1.5rem;
				    margin-bottom: 0;

					@media(max-width: 991px) { 
    					font-size: 1rem;
					}
				}
			}
		}

		.owl-carousel {
			.owl-nav {
			    display: block;

			    button {
				    position: absolute;
				    top: 35%;
				    background-color: rgba(255, 255, 255, 0.8) !important;
				    width: 40px;
				    height: 40px;
				    border-radius: 50%;
				    padding: 8px !important;

				    svg {
					    width: 20px;
					    height: 25px;
					}

					&:active, 
					&:focus {
					    background-color: rgba(255, 255, 255) !important;
					    outline: none;
					    box-shadow: none;
					}
				}
			}

			.owl-prev {
			    font-size: 10px;
			    left: 0;
			}
			.owl-next {
			    right: 0;
			}

		}


		#sync1 {
		    position: relative;
		}

		#sync2 .owl-item {
		    border: 1px solid #ccc;
		    margin: 0;
		}




		#sync2 {
			.owl-nav {
				button {
				    font-size: 36px;
				    padding: 0 0 !important;
				    text-align: center;

					&.owl-prev {
						span {
						    left: 13px;
						}
					}

					&.owl-next {
						span {
						    right: 13px;
						}
					}

				    span {
					    position: absolute;
					    top: -9px;
					}
				}
			}
		}

		.owl-propery-gallery .item {
		     height: 600px; 
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
		    cursor: pointer;
		    display: block;
		}

		.owl-propery-gallery#sync1 .item {
		    height: 600px;
			@media(max-width: 991px) { 
    			height: 400px;
			}
		}

		.owl-propery-gallery#sync2 .item {
		    height: 150px;
			@media(max-width: 991px) { 
    			height: 90px;
			}
		}

		.property-nav  {
			ul {
			    padding-left: 0;
			    display: block;
			    width: 100%;
			    float: left;

			    li {
				    width: calc(100% / 4.2);
				    display: inline-block;

				    a {
					    color: #fff;
					    background-color: #293462;
					    font-family: "Montserrat", sans-serif;
					    padding: 10px;
					    display: block;
					    margin: 0 1px;
					    width: 100%;
					    float: left;
					    text-align: center;

						@media(max-width: 991px) { 
			    			font-size: 10px;
						}
					    &:hover {
						    background-color: #1e2954;
						    text-decoration: none;
						}
					}
				}
			}

		}

		.property-section {
		    box-shadow: 0 0 3px 0px rgba(0,0,0,0.2);
		    background-color: rgba(161, 201, 220, 0.1);
		    padding: 10px;
		}

		.property-detail-parts {
		    padding-top: 30px;
		    padding-bottom: 50px;
		    border-bottom: 1px solid #ccc;

			iframe {
				width: 100% !important;
			}

			h2 {
				width: 100%;
			    display: block;
			    float: left;
			    margin-bottom: 20px;
			    font-family: "Montserrat", sans-serif;
			    color: #293462;
			    text-transform: uppercase;
			    font-size: 24px;

				@media(max-width: 767px) { 
	    			font-size: 18px;
				}
			}

			p {

				@media(max-width: 767px) { 
	    			font-size: 14px;
				}
			}

		}


	}
}



.sidebar {
    box-shadow: 0 0 3px 0px rgba(0,0,0,0.2);
    padding: 6px;
    background-color: rgba(161, 201, 220, 0.1);

	.agent-details {
		    margin-top: 10px;

		 .name {
		    text-align: center;
		    margin-bottom: 0
		}

		.position {
			font-weight: bold;
		}


		p {
	    color: #2a3461;
	    margin-bottom: 10px;
	    font-size: 15px;
			a {
			    color: #2a3461;
			    margin-bottom: 10px;
			    font-size: 15px;

			    &.fb-link {
				    font-size: 14px;
				}
			}
			i {
			    font-size: 20px;
			    margin-right: 6px;
			    width: 20px;
			}
		}

	}

	h2 {
	    font-size: 17px;
	    color: #2a3462;
		text-transform: uppercase;
	    text-align: center;

		@media(max-width: 991px) { 
	    font-size: 14px;
		}
	}

	.social-media-share {
	    margin-top: 12px;
		 ul {
		    padding-left: 0;

		     li {
			    list-style: none;
			    display: inline-block;

			    a {
				    display: inline-block;
				    padding: 5px;
				    width: 35px;
				    height: 37px;
				    color: #fff;
				    text-align: center;
				    font-size: 18px;
				    margin: 0 1px;


					&.facebook {
					    background-color: #007bff;
					}

					&.twitter {
					    background-color: #55acee;
					}

					&.linkedin {
					    background-color: #0077b5;
					}

					&.gmail {
					    background-color: red;
					}



				}
			}
		}
	}



	.contact-form-wrapper {
		.form-control {
		    border: 1px solid #eceaea;
		    border-radius: 0;
		}
	}


}

.vTour {
	.modal-dialog.modal-lg {
	    max-width: 1200px;
	}

	.modal-content {
	    height: 90vh;

	    .modal-title {
		    color: #000;
		    text-align: center;
		    width: 100%;
		}

	    iframe {
		    width: 100%;
		    height: 100%;
		}
	}

}


