.header-top {
	background-color: $red;

	ul {
	    margin-bottom: 0;
	    @media(max-width: 767px) { 
	        padding-left: 0;
	    }

	    li {
		    list-style: none;
		    display: inline;

		    a {
			    color: #fff;
			    font-size: 14px;
			    display: inline-block;
			    margin: 0 4px;
			    padding: 5px;
			    font-weight: 400;
			    font-size: 13px;

			    &:hover {
				    color: #fff;
				    text-decoration: none;
				}

				i {
				    font-size: 16px;
				    margin-right: 10px;
				}
			}
		}
	}
}

.social-media {
	padding-left: 0;
	margin-bottom: 0;

	li {
		display: inline-block;
		list-style: none;
	}
}

.navbar-brand {
    position: relative;

	p {

		span {
		position: absolute;
		    top: 27px;
		    text-transform: uppercase;
		    text-shadow: 1px 1px rgba(0,0,0,0.5);
		    left: 47px;
		    color: #ff8617;
		    font-size: 20px;
		    font-family: "Montserrat", sans-serif;


		    &.bottom {
			    top: unset;
			    left: 12px;
			    font-size: 14px;
			    color: #ff8617;
			}

		}
	}
}

.main-navbar {


    @media(max-width: 767px) { 
        height: unset;
    }

    .navbar-toggler {
        z-index: 9;
        color: #fff;

        span {
            background-color: #fff;
            width: 30px;
            height: 2px;
            display: block;
            margin-bottom: 3px;
        }
    }
	    @media(max-width: 767px) { 
	        
	    }


	.navbar-nav li.nav-item {
	}

	.navbar-nav {

		.dropdown-menu {

		    @media(max-width: 767px) { 
			    background-color: transparent;
			    box-shadow: none;
			    border: 0;
		    }

		    .dropdown-item {
			    @media(max-width: 767px) { 
				    color: #fff;
				    padding: 0.25rem 2.5rem; 
			    }
			}

		}

		.nav-item{
			&.dropdown{
				&:after {
				    @media(max-width: 767px) { 
					    width: 0;
					    height: 0;
					    border-left: 7px solid transparent;
					    border-right: 7px solid transparent;
					    border-top: 7px solid #ffffff;
					    position: absolute;
					    content: "";
					    top: 10px;
					    right: 0;
				    }
				}
			}

			.nav-link {
				@media(max-width: 991px) { 
				   padding: 5px;
				}

				@media(max-width: 767px) { 
				    width: 100%;
				    padding: 8px 0;
				}

				&:hover,
				&:focus,
				&:active {

					@media(max-width: 767px) { 
					    outline: 0;
					    box-shadow: none;
					    color: #fff;
					}
				}
			}
		}
	}
    // .navbar-collapse {

    //     @media(max-width: 767px) { 
	   //      background-color: #2a3461;
	   //      position: fixed;
	   //      top: 0;
	   //      width: 0;
	   //      right: 0;
	   //      height: 100vh;
	   //      transition: .1s all;
	   //      opacity: 0;
	   //      text-align: center;
	   //      padding-top: 15vh;
    //     }

    //     &.show {
    //         width: 100%;
    //         opacity: 1;
    //     }
    
    //     .navbar-nav {
    //         .nav-link {
    //         	@media(max-width: 991px) { 
				//     padding: 10px 7px;
				//     font-size: 12px;
    //         	}

		  //       @media(max-width: 767px) { 
	   //              text-align: left;
	   //              display: block;
	   //              width: 100%;
	   //              font-size: 1.5rem;
	   //              padding: 20px 40px;
		  //       }
    //         }
    //     }
    // }
}

.navbar-light .navbar-brand {
    color: #fff;
    max-width: 73px;
    
    @media(max-width: 991px) { 
       max-width: 65px;
    }

    @media(max-width: 768px) {     
    	max-width: 55px;
    padding: 0;
    }
}

/** Burger Menu*/


#nav-icon3 {
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    width: 35px;
    margin-top: -22px;


	&:hover,&:active,&:focus {
	    outline: none;
	    box-shadow: none;
	}
}


#nav-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
background: #f1ca30;
border-radius: 0;
opacity: 1;
left: 0;
transform: rotate(0deg);
transition: 0.25s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/** Burger Menu*/ 